@import "../node_modules/bootstrap/scss/bootstrap.scss";

$font-stack: 'Noto Serif', serif;

body{
    font: 100% $font-stack;
    background: url('../images/imageBackground.jpg');
    background-repeat: no-repeat;
}
.navbar{
   /* background: url('../images/imagepng.png');*/
    margin: 0 !important;
    background-color: #900020;
}

.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 10px !important;
}

.px-5 {
    padding-left: ($spacer * 1) !important;
    padding-top: ($spacer * 3) !important;

  }

nav ul li{
        li{
            border: 1px solid;
            padding: 10px;
        }
     a {
        color: brown;;
        text-align: center;
        border: 1px solid;
        margin: 5px;
        border-radius: 50%;
     }
     &:hover{
        background: #f0f0f0;
        border-radius: 50%;
        transition: all 200ms;
     }
  }

.navBorder{
    border: none;
}
  
.nav-principale{
    box-shadow: $enable-shadows;
    background-color: transparent;
    margin-top: 0 !important;
}
.imageCarosel{
    height: 450px;
    border-radius: 5%;
}
.imagesCarosel{
    margin:40px 80px 0 80px;
}

#navigation #en-cours a {
	background-color: #878f99;
	color: #fff;}

/*@media (min-width: 750px)  {
    p{
        margin-left: 150px !important;
    }
}*/

.text-droit {
    margin: 30px 0 0 0;
    width: 100%;
    line-height: 140%;
    word-spacing: 0.5em;
}

footer{
    background-color: #900020;
    margin-top: 95px;
}
.col-space{
    padding: 20px 0 10px 0;
}
.row-space{
    margin-left: 50px;
    text-align: unset;
}

input{
    width: 200px;
    margin: 10px;
}

.breadcrumb{
    margin-top: 16px;
    background-color: transparent;
}

/********************************************************
* page personnage par défaut
*
********************************************************/
.img {
  width:200px;
  height: 400px;
}
.card{
    position: relative;   
}


.animationCard-1{
    animation : cardanimation-1;
    animation-duration: 1s; 
}

@keyframes cardanimation-1 {
from{
        right: -2000px;
    
    }
to {
       left: 2000px;
}
}

.animationCard-2{
    animation : cardanimation-2;
    animation-duration: 2s;
}

@keyframes cardanimation-2 {
    from{
        right: -2000px;
    }
    to{
        left: 2000px;      
}
}


.animationCard-3{
    animation : cardanimation-3;
    animation-duration: 3s;
}

@keyframes cardanimation-3 {
    from{
        right: -2000px;
    }
    to{
        left: 2000px;
        
}
}

.animationCard-4{
    animation : cardanimation-4;
    animation-duration: 4s;
}


@keyframes cardanimation-4 {
    from{
        right: -2000px;
    }
    to{
        left: 2000px;
        
}
}
ol{
    padding: 0;
    margin-top: 5px;
}

ol li {
    list-style-type: none;
}
/***********************************************
* page personnage par defaut
*
******************************************/

table {
    margin: 50px;
   table, td, th{
        border: 1px solid !important;
    }
  }

thead tr th {
    text-align: center;
  }

  /*************************************
  * page création
  *
  ****************************************/

form {
    input{
         margin:10px 30px 10px 0;
        }
    label {
        padding: 5px 15px 5px 0 !important;
        margin: 30px 0 0 0 !important;
    }
    #personnage{
        @extend input;
        margin-bottom : 0;
    }
    .GroupeButton{
        margin-top: 30px;
    }
    .btn{
        background-color: #e9d18e;
        color: black;
    }
    .form-label{
        margin-top: 20px !important;
        padding-top: 23px !important;
        margin-bottom: 20px !important;
    }
}

.labeldistance{
    margin-top: 25px;
}